extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Karla Pozzi

        p Quality Engineering
        p Full Stack JavaScript Developer (in training)


        .about-bio
          p= `From counseling psychology to customer support, from quality engineering to learning JavaScript, I care about people and try to bring that energy to everything I do. In QE this manifests as advocating for accessibility, being a voice for customers in the development cycle, and making space for myself and other women and POC in tech.` 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 123-456-7890
          li kpozzi17@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/karla-pozzi-b37692a5/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/karlapozzi' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back