extends layout.pug

block content

  article.portfolio-intro

    h1 My Treehouse Techdegree Journey
 
    p This project portfolio site is the 6th project in my Treehouse Techdegree. It uses Node.js, Express, and Pug to showcase all the projects I've completed in my Treehouse Techdegree journey so far. And, it's my first server-side project! 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`picture of ${project.project_name}`)
            h5= `${project.project_name}` 

